* {
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background-color: #ebebeb;
}
header{
    grid-area: h;
}
nav{
    grid-area: n;
}
main{
    grid-area: m;
}
aside{
    grid-area: a;
}
footer{
    grid-area: f;
}
aside{
    display: none;
}
header,
nav,
main,
footer {
    display: block;
}
#wrapper{
    color: #ffffff;
    display: grid;
    grid-template: 
        "h "
        "n "
        "m "
        "f ";
} 
header{      
    color: #333333;
    background-color: #ffffff;
    background-size: auto 100%;
    background-image: url(./images/logo.png);
    background-repeat: no-repeat;
    padding: 0.5em 0 0.5em 9em;
}
.global-header {
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
}
nav ul {
    background-color: #41586c;
    list-style-type: none;
    padding-left: 0;
    border-top: 1px solid #eeeeee;
}
nav li {
    border-bottom: 1px solid #eeeeee;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
nav a {
    color: #b5fada;
    text-decoration: none;
    font-weight: bold;
}

aside {
    text-align: center;
  }
main {
    color: #111111;
    padding: 0.5em;
}
h1 {
    font-size: 30px;
    margin-bottom: 10px;
    line-height: 1.1;
    font-weight: 500;
}
h2 {
    color: #696969;
}
h4 {
    color: #696969;
}
footer {
    background-color: antiquewhite;
    color: #111111;
    font-size: 70%;
    text-align: center;
    padding: 0.5em 0;
}
.kword {
    color: #db0d0d;
    font-weight: bold;    
}
.small-desc {
    font-size: 0.9em;
}
.entry-content img {
 height: auto;
 max-width: 100%;
}
.td_img_desc {
    padding: 5px 20px 10px;
    text-align: center;
    color: #777;
    max-width: 400px;
}
.TeamTable th {
    background-color: #828282;
    line-height: 150%;
    white-space: nowrap;
    color: #ffffff;
    padding:8px 10px;
}
.TeamTable td {
    border-bottom: 1px solid #e5e5e5;
    background-color: #ffffff;
    vertical-align: top;
    line-height: 150%;
    text-align: center;
    padding:8px 10px;
}
.TeamTable { 
    width: 100%;
    overflow:scroll; 
}
.TeamTable .TableWrap{ 
    display: table;
    table-layout: fixed;
    width: 100%;
    overflow:scroll; 
}

.TeamTable table {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    overflow:scroll; 
}
.StadiumsList {
    margin: 0 -10px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
}
.StadiumsList .item{
    width: 100%;
    padding: 0 10px;
    margin: 10px 0;
}
.StadiumsList dt {
    padding: 0 20px;
    margin-bottom: 5px;
    background-color: #828282;
    color:#ffffff;
    line-height: 36px;
    text-align: center;
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 0.1em;
}
.StadiumsList dl {
    height: 100%;
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
}
.StadiumsList dd {
    padding: 0 20px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 1.1rem;
}
.f-container {
    width: 100%;
} 
.iframe-video {
    width: 100%;
    height: 315px;
}

@media (min-width: 768px) {
    #wrapper {
        grid-template:
        " h   h "
        " n   n "
        " m   m "
        " f   f "
        / 75% 25%;
    }
    .TeamTable { 
        max-width: 100%;
    }
    .StadiumsList .item{
        width: 50%;
    }
    .global-header {
        position: relative;
    }
    .iframe-video {
        width:560px;
    }
}

@media (min-width: 992px) { 
    nav ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    nav li {
        min-width: 5em;
        border-bottom: none;
    }    
    #wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        grid-template:
        " h   h   h"
        " n   n   n"
        " m   m   m"
        " f   f   f"
        / 130px 1fr 15%;
    }
    .TeamTable { 
        max-width: 100%;        
    }    
    .StadiumsList .item{
        width: 25%;
    }
    .iframe-video {
        width:560px;
    }
}    
