:root {
    --main-bg-color: #fdf9f3;
}
* {
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background-color: var(--main-bg-color);
    min-width: 265px;
}
#wrapper{
    width: 100%;
    padding: 0.5em 0;
    background-color: var(--main-bg-color);
} 
header{      
    color: #333;
    display: inline-block;;
    background-color: var(--main-bg-color);
    padding: 0 1em;
    letter-spacing: 0.1em;
    font-weight: bold;
}
.global-header {
    display: flex;
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
}
.global-header h1 {
    padding: 0.5em 10px;
    margin: 0;
}
nav {
    background-color: #054b2e;
}
nav ul {
    list-style-type: none;
    border-top: 1px solid #eeeeee;
    margin: 0;
    padding: 0;
}
nav li {
    border-bottom: 1px solid #eeeeee;
    text-align: center;
  }
nav a {
    margin: 0;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
nav a:hover {
    font-weight: bold;
    background-color: #239264;
}
main {
    color: #111111;
    padding: 0.5em 0.5em 1em 0.5em;
}
h1 {
    font-size: 30px;
    margin-bottom: 10px;
    line-height: 1.1;
    font-weight: 500;
}
h2, h4 {
    color: #696969;
}

h1, h2{
    padding-bottom: 5px;
}

p {
    padding-bottom: 15px;
}
footer {
    background-color: #4a787e;
    color: #ffffff;
    font-size: 80%;
    text-align: center;
    padding: 0.5em 0;
}
footer a{
    color: #FFFF00;
}
footer p{
    padding: 0;
}
.page-active{
    background-color: #4a6e59;
}
.kword {
    color: #db0d0d;
    font-weight: bold;    
}
.small-desc {
    font-size: 0.9em;
}
.main-content div{
    width: 100%;
}
.main-content img {
 height: auto;
 width: 100%;
}
.td_img_desc {
    padding-bottom: 5px;
    text-align: center;
    color: #777;
}
.td_iframe_desc {
    padding: 1px 5px 5px;
    text-align: center;
    color: #777;
}
.TeamTable th {
    background-color: #828282;
    line-height: 150%;
    white-space: nowrap;
    color: #ffffff;
    letter-spacing: 0.1em;
    padding:8px 10px;
}
.TeamTable td {
    border-bottom: 1px solid #e5e5e5;
    vertical-align: top;
    line-height: 150%;
    text-align: center;
    padding:8px 10px;
}
.TeamTable { 
    width: 100%;
    overflow:scroll; 
}
.TeamTable .TableWrap{ 
    display: table;
    table-layout: fixed;
    width: 100%;
    overflow:scroll; 
}
.TeamTable table {
    margin: 0 10px;
    width: 100%;
    overflow:scroll; 
}
.table_scroll_ctrl {
    display: block;
    text-align: right;
}
.StadiumsList {
    margin: 0 -10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.StadiumsList .item{
    width: 100%;
    padding: 0 10px;
    margin: 10px 0;
}
.StadiumsList dt {
    background-color: #828282;
    margin-bottom: 5px;
    padding: 0 0px;    
    color:#ffffff;
    letter-spacing: 0.1em;
    line-height: 36px;
    text-align: center;
    font-weight: bold;
}
.StadiumsList dl {
    height: 100%;
    padding-bottom: 10px;
    box-shadow: 0 0 5px #1111112c
}
.StadiumsList dd {
    padding: 0 20px;
    margin-bottom: 5px;
    text-align: center;
}
.f-container {
    width: 100%;
} 
.iframe-video {
    width: 100%;
    height: 315px;
}
@media (min-width: 767px) {
    nav ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        border-top: unset;
    }
    nav li {
        border-bottom: none;
        padding: 0;
        font-size: 18px;
    }    
    nav li a {
        width: 120px;
        padding: 10px;
    }
    #wrapper {
        font-size: 18px;
    }
    .main-content img {
        height: auto;
        width: 90%;
    }
    .main-content .full-size img{
        height: auto;
        width: 100%;
    }
    .table_scroll_ctrl {
        display: none;
    } 
    .TeamTable { 
        overflow: auto;
        max-width: 100%;  
    }
    .TeamTable .TableWrap{ 
        overflow: auto; 
    }
    .TeamTable table {
        margin:0 ;
        overflow: auto; 
    }
    .StadiumsList .item{
        width: 50%;
    }

    .iframe-video {
        width:560px;
    }
}

@media (min-width: 992px) { 
    .global-header {
        position: relative;
        margin: 0 auto;
        width: 970px;
    }
    nav ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: left;
        margin: 0 auto;
        width: 970px;
    }
    nav li {
        border-bottom: none;
        padding: 0;
        font-size: 18px;
    }    
    nav li a {
        width: 120px;
        padding: 10px;
    }
    #wrapper {
        margin: 0 auto;
        width: 970px;
        font-size: 18px;
    }
    .main-content .columnstwo {
        display: grid;
        grid-template-columns: 70% 1fr;
        padding: 0;
    }
    .main-content img {
        height: auto;
        width: 90%;
    }
    .main-content .full-size img{
        height: auto;
        width: 100%;
    }
    .table_scroll_ctrl {
        display: none;
    } 
    .TeamTable { 
        overflow: auto;
        max-width: 100%;  
    }
    .TeamTable .TableWrap{ 
        overflow: auto; 
    }
    .TeamTable table {
        margin:0 ;
        overflow: auto; 
    }
    .TeamTable img {
    transition-duration: 350ms;
    }
    .TeamTable img:hover {
        transform: rotate(15deg);
    }
    .StadiumsList .item{
        width: 50%;
    }
    .iframe-video {
        width:560px;
    }

}    
